.students-list-wrapper {
  margin: 15vh 15vh;
}

.table-wrapper {
  max-width: 50vw;
}

.edit-icon,
.delete-icon {
  width: 20px !important;
  height: 20px !important;
  margin-top: 10px;
}

.edit-icon:hover,
.delete-icon:hover {
  cursor: pointer;
}
